.navbar {
  margin: 0;
}

.navbar a {
  color: rgba(0,0,0,0.87);
}

.navbar a:hover {
  color: #000;
  background: inherit !important;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-dot {
  color: #66BB6A;
}

.header {
  background: #212121;
  color: rgba(255,255,255,0.87);
}

.header-icon {
  width: 160px;
  height: 160px;
}

.company-header {
  background: #757575;
  color: rgba(255,255,255,0.87);
}

.container-fluid {
  padding: 0;
}

.navbar-icon {
  background-image: url("/dime.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -7px;
  margin-right: 5px;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  display: inline-block;
}

body {
  background: #F5F5F5;
  font-family: 'Oxygen', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.money-graph {
  width: 100%;
  height: 300px;
  margin: 10px;
}

.map-graph {
  height: 500px;
  width: 100%;
}

.state {
  fill: none;
  stroke: #708090;
  stroke-width: 1px;
}

.state.profit-one-billion,
.state.eps-5 {
  fill: #61cd85;
}

.state.profit-one-hundred-million,
.state.eps-two {
  fill: #a7e3bb;
}

.state.profit-ten-million,
.state.eps-one {
  fill: #caeed6;
}

.state.profit-one,
.state.eps {
  fill: #edf9f1;
}

.state.loss-one-billion,
.state.eps-five {
  fill: #e15668;
}

.state.loss-one-hundred-million,
.state.eps-loss-two {
  fill: #ec95a1;
}

.state.loss-ten-million,
.state.eps.loss-one {
  fill: #f3bfc6;
}

.state.loss-one,
.state.eps-loss {
  fill: #fbe9ec;
}

.state.cash-one-billion {
  fill: #5aa3eb;
}

.state.cash-one-hundred-million {
  fill: #83baf0;
}

.state.cash-ten-million {
  fill: #acd1f5;
}

.state.cash-one {
  fill: #d5e8fa;
}

.graph-heading {
  text-align: center;
}

.bar.profit {
  fill: #FFF176;
}

.bar.cash {
  fill: #81C784;
}

.bar.eps {
  fill: #BA68C8;
}

.axis path,
.axis line {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
