<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <title>{{name}}</title>
  </head>
  <body>
    <div class="container">
      {{name}}
    </div>
  </body>
</html>
