<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./styles.css">

    <title>{{name}}</title>
  </head>
  <body>
    <nav class="navbar navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://tenk.us">tenk.us</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://github.com/kevinsawicki/tenk/issues/new">Report Issue</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      {{name}}
    </div>
  </body>
</html>
