.navbar-brand, .navbar-nav {
  font-family: 'Play', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar {
  background: #DBD7D2;
  margin-bottom: 0;
}

.navbar a {
  color: #222;
}

.navbar a:hover {
  color: #000;
}

.navbar-icon {
  background-image: url("/dime.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -7px;
  margin-right: 5px;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  display: inline-block;
}

body {
  background: #F5F1EC;
}

.google-map {
  border: 0;
  height: 300px;
  width: 350px;
}

.money-graph {
  width: 100%;
  height: 300px;
  margin: 10px;
}

.map-graph {
  height: 500px;
  width: 100%;
}

.state {
  fill: none;
  stroke: #708090;
  stroke-width: 1px;
}

.state.profit-one-billion,
.state.eps-5 {
  fill: #61cd85;
}

.state.profit-one-hundred-million,
.state.eps-two {
  fill: #a7e3bb;
}

.state.profit-ten-million,
.state.eps-one {
  fill: #caeed6;
}

.state.profit-one,
.state.eps {
  fill: #edf9f1;
}

.state.loss-one-billion,
.state.eps-five {
  fill: #e15668;
}

.state.loss-one-hundred-million,
.state.eps-loss-two {
  fill: #ec95a1;
}

.state.loss-ten-million,
.state.eps.loss-one {
  fill: #f3bfc6;
}

.state.loss-one,
.state.eps-loss {
  fill: #fbe9ec;
}

.state.cash-one-billion {
  fill: #5aa3eb;
}

.state.cash-one-hundred-million {
  fill: #83baf0;
}

.state.cash-ten-million {
  fill: #acd1f5;
}

.state.cash-one {
  fill: #d5e8fa;
}

.company-heading {
  font-family: 'Oxygen', serif;
}

.graph-heading {
  font-family: 'Oxygen', serif;
  text-align: center;
}

.overview-heading {
  font-family: 'Oxygen', serif;
}

.bar.profit {
  fill: #FFBA00;
}

.bar.cash {
  fill: #10926E;
}

.bar.eps {
  fill: #9C805E;
}

.axis path,
.axis line {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
