.header-icon {
  height: 256px;
  width: 256px;
  margin: auto;
  display: block;
}

.header-container {
  font-family: 'Cutive', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-top: 5em;
}

.navbar-brand, .navbar-nav {
  font-family: 'Cutive', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar {
  background: #DBD7D2;
}

.navbar a {
  color: #222;
}

.navbar a:hover {
  color: #000;
}

.navbar-icon {
  background-image: url("/dime.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -7px;
  margin-right: 5px;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  display: inline-block;
}

body {
  background: #F5F1EC;
}

.google-map {
  border: 0;
  height: 300px;
  width: 100%;
}

svg {
  width: 100%;
  height: 300px;
  margin: 10px;
}

.company-heading {
  font-family: 'Oxygen', serif;
}

.graph-heading {
  font-family: 'Oxygen', serif;
  text-align: center;
}

.bar.profit {
  fill: #FFBA00;
}

.bar.cash {
  fill: #10926E;
}

.bar.eps {
  fill: #9C805E;
}

.axis path,
.axis line {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
