.navbar-brand, .navbar-nav {
  font-family: 'Special Elite', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar {
  background: #DBD7D2;
}

.navbar a {
  color: #576777;
}

.navbar a:hover {
  color: #3D4D5D;
}

body {
  background: #F5F1EC;
}

.google-map {
  border: 0;
  height: 300px;
  width: 100%;
}
